name: Features Integration Debug

on:
  pull_request:

permissions: read-all

jobs:
  pull-docker-images:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker images from ghcr.io
        run: |
          docker pull ghcr.io/chaptersix/temporal/server:main
          docker pull ghcr.io/chaptersix/temporal/admin-tools:main

      - name: Get Docker image tag
        id: image-tag
        uses: actions/github-script@v7
        with:
          script: |
            const ref = context.ref.replace('refs/heads/', '').replace('refs/tags/', '');
            const branchName = `branch-${ref}`;
            let safeTag = branchName.replace(/[^a-zA-Z0-9._-]/g, '-');
            safeTag = safeTag.toLowerCase();
            safeTag = safeTag.replace(/^[^a-z0-9]+/, '');
            safeTag = safeTag.substring(0, 128);
            core.setOutput('tag', safeTag);

      - name: Retag images
        run: |
          docker tag ghcr.io/chaptersix/temporal/server:main temporaliotest/server:${{ steps.image-tag.outputs.tag }}
          docker tag ghcr.io/chaptersix/temporal/admin-tools:main temporaliotest/admin-tools:${{ steps.image-tag.outputs.tag }}

      - name: Save Docker images as artifacts
        run: |
          docker save temporaliotest/server:${{ steps.image-tag.outputs.tag }} -o /tmp/temporal-server.tar
          docker save temporaliotest/admin-tools:${{ steps.image-tag.outputs.tag }} -o /tmp/temporal-admin-tools.tar
          echo ${{ steps.image-tag.outputs.tag }} > /tmp/image_tag

      - name: Prepare artifact
        working-directory: ${{ github.workspace }}
        run: |
          # Upload-artifact has no good way to flatten paths, so we need to move the compose file
          # to avoid some disgustingly long inner path inside the artifact zip.
          cp ./develop/docker-compose/docker-compose.yml /tmp/docker-compose.yml
          echo -n "${{env.IMAGE_SHA_TAG}}" > /tmp/image_sha_tag

      - name: Upload Docker artifact
        uses: actions/upload-artifact@v4
        with:
          name: temporal-server-docker
          path: |
            /tmp/temporal-server.tar
            /tmp/temporal-admin-tools.tar
            /tmp/image_tag
            /tmp/docker-compose.yml

          retention-days: 7

  feature-tests-go:
    needs: pull-docker-images
    uses: temporalio/features/.github/workflows/go.yaml@1cc5934a0a98230c1c2f5f461faefefd9ee11c54
    with:
      version: __latest_features_docker_image__
      version-is-repo-ref: false
      docker-image-artifact-name: temporal-server-docker
      features-repo-ref: 1cc5934a0a98230c1c2f5f461faefefd9ee11c54
